version: "3"
services:
  # zookeeper:
  #   image: wurstmeister/zookeeper:latest
  #   ports:
  #     - "2181:2181"
  # kafka:
  #   image: wurstmeister/kafka:2.11-1.1.1
  #   ports:
  #     - "9092:9092"
  #   links:
  #     - zookeeper
  #   environment:
  #     KAFKA_ADVERTISED_HOST_NAME: kafka
  #     KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
  #     KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
  #     KAFKA_DELETE_TOPIC_ENABLE: "true"
  #     KAFKA_ASSIGN_COURSE_TOPIC: "assign-course-to-instructor:1:1"
  #   volumes:
  #     - /var/run/docker.sock:/var/run/docker.sock
  
  user_db:
    container_name: user_db
    image: mohamedsalama118/mongo
    ports:
      - 27017:27017
    volumes:
      - ./data/users:/data/db
  competences_db:
    container_name: competences_db
    image: mohamedsalama118/mongo
    ports:
      - 27019:27017
    volumes:
      - ./data/competences:/data/db
  courses_db:
    container_name: courses_db
    image: mohamedsalama118/mongo
    ports:
      - 27024:27017
    volumes:
      - ./data/courses:/data/db
  survey_db:
    container_name: survey_db
    image: mohamedsalama118/mongo
    ports:
      - 27018:27017
    volumes:
      - ./data/survey:/data/db
  program_db:
    container_name: program_db
    image: mohamedsalama118/mongo
    ports:
      - 27022:27017
    volumes:
      - ./data/programs:/data/db
  users:
    container_name: users
    build: ./users
    # image: mohamedsalama118/users
    ports:
      - 8081:8080
    volumes:
      - ./users/src:/users/src
      - ./shared/utils:/users/src/shared/utils
      - ./shared/controllers:/users/src/shared/controllers
      - ./shared/middlewares:/users/src/shared/middlewares
      - ./public/photos:/users/src/public/photos
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars_qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - user_db
  competences:
    container_name: competences
    build: ./competences
    image: mohamedsalama118/competences
    ports:
      - 8085:8080
    volumes:
      - ./competences/src:/competences/src
      - ./shared/utils:/competences/src/shared/utils
      - ./shared/controllers:/competences/src/shared/controllers
      
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - faculty_db

  programs:
    container_name: programs
    build: ./programs
    # image: mohamedsalama118/programs
    ports:
      - 8086:8080
    volumes:
      - ./programs/src:/programs/src
      - ./shared/utils:/programs/src/shared/utils
      - ./shared/controllers:/programs/src/shared/controllers
      - ./shared/middlewares:/programs/src/shared/middlewares
      - ./public/programSpcs:/programs/src/public/programSpcs

    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - program_db
  faculty_db:
    container_name: faculty_db
    image: mohamedsalama118/mongo
    ports:
      - 27020:27017
    volumes:
      - ./data/faculty:/data/db
  faculty:
    container_name: faculty
    build: ./faculty
    # image: mohamedsalama118/faculty
    ports:
      - 8083:8080
    volumes:
      - ./faculty/src:/faculty/src
      - ./shared/utils:/faculty/src/shared/utils
      - ./shared/controllers:/faculty/src/shared/controllers
      - ./shared/middlewares:/faculty/src/shared/middlewares
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - faculty_db

  department_db:
    container_name: department_db
    image: mohamedsalama118/mongo
    ports:
      - 27021:27017
    volumes:
      - ./data/department:/data/db

  department:
    container_name: department
    build: ./department
    # image: mohamedsalama118/department
    ports:
      - 8084:8080
    volumes:
      - ./department/src:/department/src
      - ./shared/utils:/department/src/shared/utils
      - ./shared/controllers:/department/src/shared/controllers
      - ./shared/middlewares:/department/src/shared/middlewares
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb

  surveys:
    container_name: surveys
    build: ./surveys
    # image: mohamedsalama118/surveys
    ports:
      - 8082:8080
    volumes:
      - ./surveys/src:/surveys/src
      - ./shared/utils:/surveys/src/shared/utils
      - ./shared/controllers:/surveys/src/shared/controllers
      - ./shared/middlewares:/surveys/src/shared/middlewares
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - survey_db
  courses:
    container_name: courses
    build: ./courses
    # image: mohamedsalama118/courses
    ports:
      - 8087:8080
    volumes:
      - ./courses/src:/courses/src
      - ./shared/utils:/courses/src/shared/utils
      - ./shared/controllers:/courses/src/shared/controllers
      - ./shared/middlewares:/courses/src/shared/middlewares
      - ./public/materials:/courses/src/public/materials
      - ./public/exams:/courses/src/public/exams
      - ./public/assignments:/courses/src/public/assignments
      - ./public/assignmentSolutions:/courses/src/public/assignmentSolutions
      - ./public/courseSpcs:/courses/src/public/courseSpcs
    environment:
      - NODE_ENV=development
      - PORT=8080
      - MONGO_URL=mongodb+srv://Nars-db:QxUzjVISTJaXI4lG@cluster0.k3j68hz.mongodb.net/Test
      - EMAIL=nars-qa@outlook.com
      - EMAIL_PASSWORD=NARSsystem
      - EXPIRES_IN=90d
      - JWT_COOKIE_EXPIRES_IN=90
      - JWT_SECRET=MY-JWT_SECRET-for-nodejs-and-express-and-mongodb
    depends_on:
      - courses_db
  nginx:
    build: ./nginx
    container_name: ms_nginx
    depends_on:
      - users
      - department
      - faculty
      - surveys
      - courses
    ports:
      - 80:80
